mat-card {
  max-width: 600px;
  margin: 0 auto;
}

mat-form-field {
  width: 100%;
  margin-bottom: 10px;
}

mat-checkbox {
  margin-bottom: 20px;
}

mat-card-actions {
  padding: 16px;
  display: flex;
  gap: 10px;
}
